.nav {
    text-align: center;
    height: 4.25em;
}

.nav a {
    position: relative;
    display: inline-block;
    width: 1em;
    line-height: 0.9em;
    font-size: 2.5em;
    opacity: 0.35;
    
}

.nav a span {
    display: block;
    position: absolute;
    background: #000000;
    color: #fff;
    top: -2.75em;
    font-size: 0.3em;
    line-height: 2.25em;
    left: 50%;
    opacity: 0;
    width: 5.5em;
	margin-left: -2.75em;

}

.nav a span:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.4em;
    left: 50%;
    margin-left: -0.6em;
    border-top: solid 0.6em #000000;
    border-left: solid 0.6em transparent;
    border-right: solid 0.6em transparent;
}

.nav a:hover {
    opacity: 1.0;
}

.nav a:hover span {
    opacity: 1.0;
}

